<form action="register">
  <p>
    <label for="nombre y apellido">Nombre y apellido:</label>
    <input type="text" />
  </p>

  <p>
    <label for="Nombre de usuario">Nombre de usuario</label>
    <input type="text" />
  </p>

  <p>
    <label for="Email">Email:</label>
    <input type="email" />
  </p>

  <p>Fecha de nacimiento</p>

  <label>
    <input type="date" name="nacimiento" />
  </label>

  <p>
    <label for="Domicilio">Domicilio</label>
    <input type="domicilio" />
  </p>

  <p>Perfil del usuario</p>

  <p>
    <label>
      <input type="radio" name="perfil" value="comprador" />Comprador
      <input type="radio" name="perfil" value="vendedor" />vendedor
    </label>
  </p>
</form>


<p> Intereses </p>
    <label for="intereses"></label>
    <input type="checkbox" name="intereses" value="electro">Electro
    <input type="checkbox" name="intereses" value="moda">Moda
    <input type="checkbox" name="intereses" value="Hogar">Hogar
    <input type="checkbox" name="intereses" value="jugueteria">Jugueteria
    <input type="checkbox" name="intereses" value="vidasana">Vida sana


<br>

<h3>Foto de usuario</h3>
<input type="file" name="" id="">
<br>

<p>
    <label for="Contraseña">Contraseña</label>
    <input type="contraseña"/>
  </p>

  <p>
    <label for="Contraseña">Confirmar contraseña</label>
    <input type="contraseña"/>
  </p>

  

<button onclick="location.href='/home.html'">Enviar</button>