<link rel="stylesheet" href="/css/styles.css">

<form action="register" class="create-form">
  
  <div>
  
  <div class="control-formulario"> 
  <input type="text" name="nombre y apellido" placeholder="Nombre y apellido" class="control" />
  </div> 

  <div class="control-formulario">
  <input type="text" name="Nombre de usuario" placeholder="Nombre de usuario" class="control" />
  </div> 

  <div class="control-formulario">
    <input type="email" name="Email" placeholder="Email" class="control" />
  </div> 

  
  <h3> Fecha de nacimiento </h3>
  <label>
  <input type="date" name="nacimiento"/>
  </label>
 
  <div class="control-formulario">
  <input type="text" name="domicilio" placeholder="Domicilio" class="control"/>
  </div> 

  <p>Perfil del usuario</p>

  <div class="control-formulario">
    <label>
      <input type="radio" name="perfil" value="comprador"  />Comprador
      <input type="radio" name="perfil" value="vendedor"  />vendedor
    </label>
  </div> 


<div class="control-formulario">
<p> Intereses </p>
    <label for="intereses"></label>
    <input type="checkbox" name="intereses" value="electro">Electro
    <input type="checkbox" name="intereses" value="moda">Moda
    <input type="checkbox" name="intereses" value="Hogar">Hogar
    <input type="checkbox" name="intereses" value="jugueteria">Jugueteria
    <input type="checkbox" name="intereses" value="vidasana">Vida sana
  </div>


<div class="control-formulario">
<h3>Foto de usuario</h3>
<input type="file" name="" id="">
  </div>


  <div class="control-formulario">
   <input type="password" name="password" placeholder="Contraseña" class="control"/>
  </div>

  <div class="control-formulario">
  <input type="password" name="password" placeholder="Confirmar contraseña" class="control"/>
  </div>

</form>

</div>

<button   type="reset">Borrar</button>
<button onclick="location.href='./'">Enviar</button>