* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    background-color: #eac926;
    padding: 20px;


}

.logo {
    width: 200px;
}



.copy-header {
    font-weight: 400;
    text-align: center;
}


.hamburguer-button {
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;

}


.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;

}


body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;

}

main {
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
}



footer {
    text-align: center;
    margin: auto;
    padding: 30px;
    padding-bottom: 10px;

}

.titulares {
    font-size: 24px;
    font-family: 'roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
}



.fa-truck {
    transition: all 450ms;
}

.fa-truck:hover {
    transform: rotate(-90deg);
}





.precios {
    font-size: 20px;
    padding: 5px;
    align-self: flex-start;
    line-height: 10px;
}

.probando {
    display: flex;

}

.descuentos {
    font-size: 10px;
    padding: 5px;
    color: #0bed31;
    align-self: flex-start;

}

.searchbar {
    width: 100%;
    padding: 5px;
    margin: 10px;
    margin-top: 1px;
    font-size: 15px;
    margin-right: 0px;
    text-align: center;
    align-items: baseline;

}

.button {
    padding: 1px;
    margin-bottom: 20px;
}

.nombreProducto {
    color: #9a9d9b;
    font-size: small;
    text-align: left;
    padding: 10px;
}



.contenedor {
    margin: auto;
    background-color: white;
    width: 90%;
    padding-top: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(61, 61, 61);

}




.product {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    text-align: center;
    border-bottom: solid 10px #ebebeb;
    position:relative;
}


.circulo {
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 1px #39b54a;
    color: #39b54a;
    padding: 8px;
    align-items: baseline;
}

.truck {
    display: flex-end;
    font-size: 16px;
    text-align: right;
    margin-bottom: -10px;
    margin-right: 35px;
    padding-bottom: 5px;

}

.card {
    display: flex;
    flex-direction: row;
    margin: auto;
    box-shadow: 0px 0px 10px rgb(61, 61, 61);

}


.create-form {
    padding: 20px 15px;
    background-color: #dadada;
}


.control-formulario {
    margin-bottom: 20px;
}

.control-formulario label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #f3f6f8;
    padding-top: 10px;
}

.button-formulario {
    background-color: #878787;
    color: white;
    border-radius: 6px;
    width: 100%;
    padding: 10px;
}

.button-formulario:hover {
    background-color: #0022AA;
}


.icono{
    color: rgb(25, 10, 240);
}

.icono:hover{
   color: #d41e0d;
}






@media (min-width: 361px) {
    .descrip {
        font-size: 16px;
        margin-bottom: 10px;
    }

    article {
        box-shadow: 0px 0px 10px rgb(61, 61, 61);
    }

    ul {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }

    
}



@media(min-width: 769px) {
    article {
        box-shadow: none
    }

    .main-header-top-bar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .copy-header {
        max-width: 350px;
        text-align: right;
    }

    .hamburguer-button {
        display: none;
    }


    .main-navbar {
        display: flex;
        justify-content: space-between;

    }

    .main-navbar ul {
        display: flex;

    }

    .main-navbar li {
        margin: 0 5px;

    }




}


@media (min-width: 1200px) {

    .main-header-top-bar,
    .main-navbar {
        max-width: 1200px;
        margin: auto;

    }


    .main-header-top-bar {
        align-items: center;
        text-align: center;
        align-items: baseline;
    }

    .main-navbar {
        margin-top: 40px;

    }

    .main-navbar {
        margin: center 50px;

    }

    .main-navbar li {
        margin: 0 10px;
        font-size: 22px;
        font-weight: 400;

    }

    .main-navbar a {
        font-size: 19px;
        padding: 10px;
    }

    .copy-header {
        max-width: none;
        text-align: right;
        margin: 0;
    }

    footer {
        display: flex;
        flex-wrap: nowrap;
    }

    .contenedor-footer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

    }

}