* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: yellow;

}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;

}


main {
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
}


.centrar{
    margin:auto;
	display:block;

}

footer {
    text-align: center;
    margin: auto;
    padding: 30px;
    padding-bottom: 10px;
}

.titulares {
    font-size: 24px;
    font-family: 'roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
}


.truck{
    display: flex-end;
    font-size: 16px;
    text-align: right;
    margin-bottom: -10px;
    margin-right: 35px;
}

.circulo{
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 1px #39b54a;
    color: #39b54a;
    padding: 8px;
    align-items: baseline;
}



  .precios {
    font-size: 20px;
    padding: 5px;
    align-self: flex-start;
    line-height: 10px;
}
.probando{
    display: flex;
    
}
.descuentos {
    font-size: 10px;
    padding: 5px;
    color: #0bed31;
    align-self: flex-start;

}

.descripciones {
    font-size: 16px;
    padding: 5px;
}

.titulo {
    text-align: center;
    font-size: 12px;
}



.burguer-menu {
    display: inline-block;
    background-color: #1259c3;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}

.hambContenedor {
    text-align: center;
}


.nombreProducto{
    color: #9a9d9b;
    font-size: small;
    text-align: left;
    padding: 10px;
}













.contenedor{
    margin: auto;
    background-color: white;
    width: 90%; 
    padding-top: 5px;
    text-align: center;
    display: flexbox;
    box-shadow: 0px 0px 10px rgb(61, 61, 61);
 }
.product{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    text-align: center;
    border-bottom: solid 10px #ebebeb;
    display:flex;
    flex-direction: column;


    
    
    
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.icono {
    color: #1259c3;
    padding-bottom: 10px;
    padding-top: 10px;
}


.enlaces{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-between

}


.card{
    display: flex;
    flex-direction: row;
    margin: auto;
    box-shadow: 0px 0px 10px rgb(61, 61, 61);
    
}






@media (min-width: 361px){
    .descrip{
        font-size: 16px;
        margin-bottom: 10px;
    }
    article{
        box-shadow: 0px 0px 10px rgb(61, 61, 61);
    }
    ul{
     font-size: 12px;
     margin: 0;
     padding: 0;
    }

    

  


  

}
@media(min-width: 769px){
    article{
      box-shadow:none
    }
}














/*.circulo{
    width: 10px;
    height: 10px;
    -moz-border-radius: 30%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 1px #049e1e;
    color: #049e1e;
    padding: 5px;
    }
    */